<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MyClassMapper">

    <!--一对多:分布查询第一步; 根据班级的cid获取班级信息-->
    <resultMap id="selectByStep1ResultMap" type="MyClass">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="myStudents"
                    select="mapper.MyStudentMapper.selectByCidStep2"
                    column="cid"
                    fetchType="lazy"/>
    </resultMap>
    <select id="selectByStep1" resultMap="selectByStep1ResultMap">
        select cid, cname from t_class where cid = #{cid}
    </select>

    <!--一对多:collection方式-->
    <resultMap id="selectByCollectionResultMap" type="MyClass">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <!--一对多,这里是collection -->
        <!--ofType 属性用来指定集合当中的元素类型-->
        <collection property="myStudents" ofType="MyStudent">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>
    <select id="selectByCollection" resultMap="selectByCollectionResultMap">
        select c.cid, c.cname, s.sid, s.sname
        from t_class c left join t_stu s on c.cid = s.cid
        where c.cid = #{cid}

    </select>


    <!--多对一:分布查询第二步,根据cid获取班级信息-->
    <resultMap id="MyClassResultMap" type="MyClass">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
    </resultMap>
    <select id="selectByIdStep2" resultMap="MyClassResultMap">
        select cid, cname
        from t_class
        where cid = #{cid};
    </select>
</mapper>