<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namesspace以后再讲-->
<mapper namespace="org.mybatis.example.BlogMapper">
    <!--    id是这条语句的唯一标识-->
    <insert id="insertCar">
        INSERT INTO t_car
        VALUES (null, #{}, #{}, #{}, #{}, #{});
    </insert>

</mapper>